<h3>{{componentTitle}}</h3>

<span *ngIf="tasks.length === 0"> Você não possui nenhuma tarefa ainda</span>

<mat-list>
  <mat-list-item *ngFor="let task of tasks">
    <button mat-icon-button color="warn" (click)="onRemoveTask(task.id)">
      <mat-icon>delete</mat-icon>
    </button>
    <div mat-line>
      <label>
        <mat-checkbox
          [checked]="task.completed"
          (change)="onCompleteTask(task.id)"
        >
        </mat-checkbox>
        {{ task.title }}
      </label>
    </div>
  </mat-list-item>
</mat-list>
