<div class="app">
  <h2>Cadastro de Tarefas</h2>
  <app-task-form [onAddTask]="addTask"></app-task-form>
</div>

<div class="actions">
  <button mat-raised-button color="warn" type="button">
    <mat-icon>delete</mat-icon>
    Remover Todos
  </button>
  &nbsp;
  <button mat-raised-button type="button" (click)="toggleSidebar()">
    <mat-icon>menu_open</mat-icon>
    Tarefas Concluídas
  </button>
</div>

<div class="app-body">
  <div class="app-content">
    <app-list
      [tasks]="getUnCompletedTasks()"
      [onRemoveTask]="removeTask"
      [onCompleteTask]="completeTask"
    >
    </app-list>
  </div>
  <div class="app-sidebar" [ngClass]="{ open: sidebarOpen }"></div>
</div>
